doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Contact
    body
        nav 
            ul 
                li: a(href="/") Home
                li: a(href="/services") Our services
                li: a(href="/contact") Contact us
        h1 How to react us
        p You can use this phone +2156415136813 to contact me 