doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Services
    body
        nav 
            ul 
                li: a(href="/") Home
                li: a(href="/services") Our services
                li: a(href="/contact") Contact us

        h1 Our services 
        p Details of our services
        ul 
            li Service1
            li Service2
            li Service3